<div class="layout-content">
  <h1>CART</h1>
</div>
<div class="layout-content" ng-if="uploadedFiles.length === 0">
  <p ng-if="!loadingFiles">Your Cart is empty</p>
  <p ng-if="loadingFiles"><md-progress-linear md-mode="indeterminate"></md-progress-linear></p>
</div>
<div class="layout-content" ng-if="uploadedFiles.length > 0">
  <div class="cart-item" ng-repeat="uploadedFile in uploadedFiles" ng-show="uploadedFile.quantity > 0">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 md-truncate flex>{{ uploadedFile.title }}.stl</h2>
        <md-button class=md-icon-button ng-click="deleteItem($event, uploadedFile.id)">
          <md-tooltip md-direction="top">Delete</md-tooltip>
          <md-icon>delete</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content>
      <p>
        <span><md-icon>access_time</md-icon> {{ uploadedFile.date | date:"dd/MM/yyyy HH:mm:ss" }}</span>
        <span style="margin-left: 10px;"><md-icon>cloud</md-icon> {{ uploadedFile.fileSize }} Kb</span>
        <span style="margin-left: 10px;"><md-icon>details</md-icon> {{ uploadedFile.volume }} {{ uploadedFile.unit }}<sup>3</sup></span>
      </p>
      <md-input-container>
        <label>Quantity</label>
        <input type="number" min="1" max="99999" ng-model="uploadedFile.quantity" ng-blur="updateQuantity(uploadedFile.id, uploadedFile.quantity)">
      </md-input-container>
    </md-content>
  </div>
</div>
<div class="layout-content">
  <section>
    <div
    ngf-drop
    ngf-select
    ng-model="file"
    class="dropzone-area"
    ngf-drag-over-class="'dragover'"
    ngf-multiple="false"
    ngf-allow-dir="true"
    accept="application/pdf,.stl,application/vnd.ms-pki.stl,application/sla,application/netfabb,model/vrml"
    ngf-pattern="'application/pdf,.stl,application/vnd.ms-pki.stl,application/sla,application/netfabb,model/vrml'"
    layout="column"
    layout-align="center center"
    ng-hide="uploading"
    flex>
      <div layout="row" layout-align="center center"><span>Drag &amp; drop a STL file in this area <br><br>  - or - <br><br> click <md-button class="md-raised md-primary">here</md-button> to select</span></div>
    </div>

    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    <div layout="column" layout-align="center center" ng-show="uploading" class="dropzone-area" flex>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      <p style="margin-top: 30px;"><span translate>PLEASE WAIT...</span></p>
    </div>
  </section>
</div>
