@import '../../bower_components/bootstrap/less/bootstrap.less';

body {
  padding-top: 30px;
  padding-bottom: 30px
}

*:focus {outline:0 !important;}


.layout-content {
  max-width: 980px;
  margin: 15px auto;
}

.dropzone-area {
  padding: 30px;
  background-color: #EEEEEE;
  border: 5px dotted #E0E0E0;
  text-align: center;

  &.dragover {
    background-color: #E8F5E9;
    border: 5px dotted #A5D6A7;
  }
}

.cart-item {
  margin-bottom: 15px;

  md-content {
    padding: 16px;
    background-color: #EEEEEE;

    md-input-container {
      margin-bottom: 0;

      .md-errors-spacer {
        height: 0;
        min-height: 0;
      }
    }
  }
}
