<!DOCTYPE html>
<html ng-app="3dhubsapp" ng-controller="AppCtrl">
  <head>
    <title>Cart | 3D Hubs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="EN" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/challenge/">
    <meta name="fragment" content="!" />

    <!-- material-design-icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body ui-view="main"></body>
</html>
